<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch this!</title>
</head>
<body>
    <table>
    <tr>
        <td colspan="2">
            <h1>Found a movie!</h1>
         </td>
    </tr>
        <tr>
            <td colspan="2">
                <h2>You should watch: {{ title }}</h2>
            </td>
        </tr>
    <tr>
        <td rowspan="3"><img src="{{ poster }}" /></td>
        <td><p>Year: {{ year }}</p></td>
    </tr>
    <tr>
        <td>
            <p><b>Synopsis:</b><br />
            {{ plot }}</p>
        </td>
    </tr>
    <tr>
        <td>
           <a href="{{ url }}">Check it out on IMDB</a>
        </td>
    </tr>
    </table>
</body>
</html>